/* Author:	Maggie Cai
 * File: 	home.css
 * File Description:	This file contains the CSS for the home page. 
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	overflow: auto;
}

form {
	background-color: white;
	z-index: 1;
}

.col-form-label.text-left {
	text-align: left;
}

nav a, li a {
	display: block;
	color: white;
	text-align: center;
}

li a:hover, nav a:hover {
	background-color: #7D0427;
	color: white;
}

nav {
	background-color: #B30738;
}

input[type=text] {
	padding: 6px;
	font-size: 14px;
}

#search_btn {
	width: 100px;
	font-size: 16px;
}

#search_btn:hover {
	background-color: #EDEDED;
}

.col {
	margin: 8px 16px;
}

.custom-select {
	display: inline-block;
	position: relative;
	border: 1px solid;
	margin: 8px 16px;
	text-align: left;
	font-size: 14px;
}

.form_container {
	padding: 10px;
}

.card {
	width: 18rem;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_container {
	padding: 2px 16px;
}
