body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	overflow: auto;
}

form {
	width:93%;
	border: 3px solid #F1F1F1;
	text-align: center;
	background-color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #B22222;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float:right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #7C1717;
}

input[type=text] {
	padding: 6px;
	border: 1px solid;
	font-size: 14px;
}

button {
	width: 100px;
	border-radius: 4px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 8px 16px;
	padding: 6px ;
	cursor: pointer;
}

.custom-select {
	display: inline-block;
	padding: 8px;
	border: 1px solid;
	cursor: pointer;
	font-size: 16px
}

.custom-select select {
	display: none;
}

.container{
	padding: 20px;
}